<StackLayout>
    <Label class="h1" text="Gestures"></Label>
    <Label class="h2" text="Tap here" (tap)="onTap($event)"></Label>
    <Label class="h2" text="Double tap here" (doubleTap)="onDoubleTap($event)"></Label>
    <Label class="h2" text="Long press here" (longPress)="onLongPress($event)"></Label>
    <Label class="h2" text="Swipe here" (swipe)="onSwipe($event)"></Label>
    <Label class="h2" text="Pan here" (pan)="onPan($event)"></Label>
    <Label class="h2" text="Pinch here" (pinch)="onPinch($event)"></Label>
    <Label class="h2" text="Rotate here" (rotation)="onRotate($event)"></Label>
    <Label class="h2" text="Touch here" (touch)="onTouch($event)"></Label>
</StackLayout>