<ScrollView>
    <StackLayout>
        <Label class="h1" text="Headings"></Label>
        <Label class="h6" text="This is a small heading"></Label>
        <Label class="h1" text="Text"></Label>
        <Label class="body" text="I’m a longer sentence with instructions on how you use a particular feature"
            textWrap="true"></Label>
        <Image src="https://play.nativescript.org/dist/assets/img/NativeScript_logo.png" width="150" class="m-b-30">
        </Image>
        <Label class="footnote" text="This is a footnote"></Label>
        <Label class="text-left" text="My text is left aligned"></Label>
        <Label class="text-right" text="My text is right aligned"></Label>
        <Label class="text-center" text="My text is center aligned"></Label>
        <Label class="h1" text="Fonts"></Label>
        <Label class="font-weight-normal" text="This text will NOT appear bold"></Label>
        <Label class="font-weight-bold" text="This text will appear bold"></Label>
        <Label class="font-italic" text="This text will appear italicized"></Label>
        <Label class="h1" text="Dividers"></Label>
        <Label text="Separate this UI widget..."></Label>
        <StackLayout class="hr-light m-10"></StackLayout>
        <StackLayout class="hr-dark m-10"></StackLayout>
        <Label text="...from this UI widget."></Label>
        <Image src="res://affiche" stretch="aspectFit" ></Image> 
    </StackLayout>
</ScrollView>